* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9E7E7;
}

.main {
    /* background-color: red; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    margin-bottom: 3%;
    background-color: #210124;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    border-radius: 15px;
}

.main h1 {
    color: #ffd900;
    font-size: 50px;
}

.pokemon-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 50px;
}

.pokemon-box {
    width: 300px;
    background-color: rgba(223, 220, 220, 0.692);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

.pokemon-box span {
    color: blue;
}

.pokemon-box img {
    width: 100%;
}

/* Container da barra de pesquisa */
.query {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Campo de entrada de texto */
.search {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Placeholder do campo de entrada */
.search::placeholder {
    color: #999;
}