*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    /* background-color: red; */
    padding: 2%;
}

.main h1{
    color: rgb(255, 230, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

